<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cinnamon.is"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <application
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:label="@string/app_name"
            android:name=".presentacion.Intro"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".presentacion.Intro2"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.cinnamon.is.presentacion.INTRO2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".game.MainMenu"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.cinnamon.is.game.MAINMENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".game.InGame"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.cinnamon.is.game.INGAME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".game.Arcade"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.cinnamon.is.game.ARCADE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".comun.Opciones"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.cinnamon.is.comun.OPCIONES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".game.Login"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.cinnamon.is.game.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".game.SelecMJ"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.cinnamon.is.game.SELECMJ" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".game.SelecPista"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.cinnamon.is.game.SELECPISTA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".game.Ranking" 
            android:screenOrientation="landscape" >
            
            <intent-filter >
                <action android:name="com.cinnamon.is.game.RANKING" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:label="@string/app_name"
            android:name=".game.InGameHost" 
            android:screenOrientation="portrait" >
            
            <intent-filter >
                <action android:name="com.cinnamon.is.game.INGAMEHOST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
          <activity
            android:label="@string/app_name"
            android:name=".game.InGameAventura" 
            android:screenOrientation="portrait" >
            
            <intent-filter >
                <action android:name="com.cinnamon.is.game.INGAMEAVENTURA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
           <activity
            android:label="@string/app_name"
            android:name=".game.EligeModoAventura" 
            android:screenOrientation="portrait" >
            
            <intent-filter >
                <action android:name="com.cinnamon.is.game.ELIGEMODOAVENTURA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
  <!--  Minijuegos -->
        <!--  MJ1 -->
        <activity android:name=".minijuegos.mj1.StartingMarcianos"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.cinnamon.is.minijuegos.MJ1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!--  MJ2 -->
        <activity android:name=".minijuegos.mj2.ToposMJ"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.cinnamon.is.minijuegos.MJ2" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
            
           <!--  MJ3 -->   
          <activity
            android:label="@string/app_name"
            android:name=".minijuegos.mj3.Game"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.cinnamon.is.minijuegos.MJ3" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
          
     
          <!--  MJ4 -->   
          
          <activity
            android:label="@string/app_name"
            android:name=".minijuegos.mj4.Game"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.cinnamon.is.minijuegos.MJ4" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
      
        <!--  MJ5 -->   
          
          <activity
            android:label="@string/app_name"
            android:name=".minijuegos.mj5.Game"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.cinnamon.is.minijuegos.MJ5" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>      
        
           <!--  MJ6 -->
         <activity
            android:label="@string/app_name"
            android:name=".minijuegos.mj6.MinijuegoBomba" >
            <intent-filter >
                <action android:name="com.cinnamon.is.minijuegos.MJ6" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <!--  MJ7 -->   
          
          <activity
            android:label="@string/app_name"
            android:name=".minijuegos.mj7.Game"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.cinnamon.is.minijuegos.MJ7" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
           <activity
            android:label="@string/app_name"
            android:name=".minijuegos.mj7.Win"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.cinnamon.is.minijuegos.MJ7W" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <!-- Activity del zXing para CaptureActivity -->
        <activity
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter >
                <action android:name="com.cinnamon.is.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Activity del zXing para Encode android:label="@string/share_name" -->
        <activity
            android:name="com.google.zxing.client.android.encode.EncodeActivity"
            android:stateNotNeeded="true" >
            <intent-filter >
                <action android:name="com.cinnamon.is.ENCODE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>