<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cinnamon.is"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.CAMERA" />

    

    <application
         android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:label="@string/app_name"
            android:name=".presentacion.Intro"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".presentacion.Intro2"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.cinnamon.is.presentacion.INTRO2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".game.MainMenu"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.cinnamon.is.game.MAINMENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".game.InGame"
            android:screenOrientation="landscape" >
            <intent-filter >
                <action android:name="com.cinnamon.is.game.INGAME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".game.Mochila"
            android:screenOrientation="landscape" >
            <intent-filter >
                <action android:name="com.cinnamon.is.game.MOCHILA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".game.Mapa"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.cinnamon.is.game.MAPA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".game.Login"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.cinnamon.is.game.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".comun.Opciones"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.cinnamon.is.comun.OPCIONES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Activitys de los Minijuegos -->
        <activity
            android:label="@string/app_name"
            android:name=".minijuegos.cuadrado.CuadradoMagicoMJ" >
            <intent-filter >
                <action android:name="com.cinnamon.is.minijuegos.cuadrado.CUADRADOMAGICOMJ" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".minijuegos.puzzle.PuzzleMJ" >
            <intent-filter >
                <action android:name="com.cinnamon.is.minijuegos.puzzle.PUZZLEMJ" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".minijuegos.ascensor.AscensorMJ"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.cinnamon.is.minijuegos.ascensor.ASCENSORMJ" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".minijuegos.reinas.ReinasMJ" >
            <intent-filter >
                <action android:name="com.cinnamon.is.minijuegos.reinas.REINASMJ" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".minijuegos.end.EndMJ" >
            <intent-filter >
                <action android:name="com.cinnamon.is.minijuegos.end.ENDMJ" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name=".game.EndGame" >
            <intent-filter >
                <action android:name="com.cinnamon.is.game.ENDGAME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>    

        <!-- Activity del zXing -->
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter >
                <action android:name="com.cinnamon.is.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>